@media (max-width:672px){
    .member1{
        width:80%;
    }
    .member2{
        width:80%;
    }
}
@media (min-width:673px){
    .member1{
        width:480px;
    }
    .member2{
        width:480px;
    }
}










.member1{
    background-color: #abb8bb;
    margin-top: 10px;
    justify-self: center;
    border-radius: 20px 0px 20px 0px;
    height: auto;
    padding: 10px;
    display: flex;
}
.member2{
    background-color: #abb8bb;
    margin-top: 10px;
    justify-self: center;
    border-radius: 20px 0px 20px 0px;
    height: auto;
    padding: 10px;
    display: flex;
}
.member-text{
    width:70%;
    height:auto;
}
.member-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.member-info{
    font-size: 15px;
}


.member-img {
    width:30%;
    height: auto;
    clear:both;
}
.member-img img{
    width: clamp(100px, 100%, 127px);
    height:auto;
    float:right;
    margin-top: -15px;
    margin-right: -15px;
    border-radius: 15px;
}
.member-img2 {
    width: 30%;
    height: auto;
}
.member-img2 img{
    width: clamp(100px, 100%, 127px);
    height:auto;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 15px;
}

