.result-table{
    border-collapse:collapse;
    width:80%;
    margin-top:20px;
    justify-self: center;
}
.result-table th, .result-table td{
    padding:8px;
    text-align:center;
}
.ps{
    text-align: center;
    color:rgb(78, 78, 78)
}
